<%= render 'shared/errors',obj: @chef %>


<div class="row">
  <div class=" well col-md-8 col-md-offset-2">

    <%= form_for @chef do |f| %>
        <%= f.label :Name %>
        <%= f.text_field :chefname %>

        <%= f.label :Email %>
        <%= f.text_field :email %>

        <%= f.label :Password %>
        <%= f.password_field :password %>

        <%= f.submit(@chef.new_record? ? 'Register' : 'Update Profile',
                     class:'btn btn-success')  %>
    <% end %>

  </div>

</div>